* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px auto 20px auto;
  background-color: #f06d1c;
  width: 100vw;
}

.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}

.header__logo {
  width: 40px;
  margin-right: 10px;
}

.header__title {
  font-size: 24px;
  font-weight: 500;
}

.header__nav .nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #b81d02;
  width: 100vw;
  height: 40px;
}

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #5f66f4;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
}

.main__content {
  padding: 5px;
}

.box {
  padding: 20px;
}

.box__title {
  font-size: 20px;
  font-weight: bold;
  padding: 1% auto;
  margin-bottom: 5px;
}

.box__text {
  font-size: 16px;
}
.box--special .box__title {
    margin-left: -20px;}
.box--special {
  margin: 0 17px;
  background-color: #ffffff;
  border-top: #989797 solid 2px;
  border-bottom: #989797 solid 2px;
}

.box__text--indented {
  margin-left: 20px;
  border-left: solid rgb(188, 186, 186) 5px;
  padding: 0px 10px;
  margin-top: 10px;
}

/* Aside */
.main__aside {
  display: none;
}

.aside__title {
  font-size: 22px;
  font-weight: bold;
}

.aside__text {
  font-size: 16px;
}

/* Footer */
.footer {
  background-color: #f57301;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0px;
}

.footer__nav {
  background-color: red;
  padding: 10px 0;
  width: 90%;

}

.footer__nav .nav__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;

}

.nav__item {
  margin: 0;
}

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #5f66f4;
}

.footer__social {
  display: flex;
  justify-content: center;


}

.social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;  padding: 10px;
  background-color: #b81d02;
}

.social__item {
  margin: 0;
}

.social__link {
  color: white;

  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.social__link:hover {
  color: #5f66f4;
}

/* Responsive Design */

@media (min-width: 501px) and (max-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .header__logo-container {
    flex-direction: row;
  }

  .header__title {
    font-size: 22px;
  }

  .header__nav .nav__list {
    flex-direction: row;
  }

  .nav__item {
    margin-right: 20px;
  }

  .main {
    flex-direction: row;
  }

  .main__content {
    width: 70%;
    margin-right: 20px;
  }

  .main__aside {
    width: 30%;
    margin-top: 0;
  }
}

/* Versión desktop */
@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav .nav__list {
    flex-direction: row;
  }

  .main {
    flex-direction: row;
  }

  .main__content {
    width: 75%;
    margin-right: 30px;
  }

  .main__aside {
    width: 25%;
  }
}
